* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #efede1;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.first-part-image img {
  min-width: 100%;
  max-height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-contact {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.second-part-contact h1 {
  margin: 50px 0px 0px 0px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: rgb(168, 41, 58);
  line-height: 50px;
  letter-spacing: 1px;
}

.border-under-title {
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: underline;
  -webkit-text-decoration-color: rgb(139, 109, 75);
          text-decoration-color: rgb(139, 109, 75);
}

h2 {
  font-size: 15.2px;
  line-height: 25.2px;
  letter-spacing: 2.8px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(168, 40, 57);
  text-align: start;
}

h3 {
  font-size: 14px;
  line-height: 25.2px;
  letter-spacing: 2.8px;
  font-weight: 700;
  color: rgb(139, 109, 75);
  text-align: start;
}

.container-contact .left-side-hours {
  min-width: 30%;
  min-height: 380px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.sqs-block {
  position: relative;
  height: auto;
  padding: 27px;
}

.container-contact .location-contact {
  display: flex;
}

.container-contact .location-contact div {
  margin: 10px 10px;
}

.title-contact-border {
  text-align: center;
  margin: 50px 0px;
}

.title-contact-border img {
  max-width: 55%;
  rotate: 180deg;
}

.contact-footer-border {
  text-align: center;
  margin-bottom: 50px;
}

.contact-footer-border img {
  max-width: 55%;
  margin: 50px 0px;
}

.footer-container {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: #A3773E;
}

.footer-container .title h5 {
  font-size: 15.4px;
  line-height: 35.2px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
}

.footer-container span {
  color: #A42434;
}

.footer-container .border-title-main img {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-container .social img {
  max-width: 35px;
  margin: 25px;
}

.footer-container .location-contact .location .direction {
  display: flex;
  margin: 20px 0px;
  width: 100%;
  justify-content: center;
}
.footer-container .location-contact .location .direction a {
  cursor: pointer;
  display: flex;
}
.footer-container .location-contact .location .direction a p {
  line-height: 35px;
  font-weight: 700;
}
.footer-container .location-contact .location .direction img {
  max-width: 35px;
  margin: 0px 5px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-container .location-contact {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 70%;
  text-align: center;
}

.footer-container .location-contact a {
  text-decoration: none;
  color: #A3773E;
  line-height: 35.2px;
  letter-spacing: 1px;
}

.footer-container .arrow {
  margin: 25px 0px;
  width: 50px;
  height: 50px;
  rotate: 225deg;
  border: 5px solid white;
  border-top: transparent;
  border-left: transparent;
  align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.37;
}
.footer-container .arrow:hover {
  opacity: 0.8;
  transition: 0.2s ease-in;
}

@media screen and (max-width: 810px) {
  body {
    overflow-x: hidden;
  }
  .first-part-image img {
    max-width: 100%;
  }
  .second-part-reserve h1 {
    font-size: 30px;
  }
  .footer-container .location-contact {
    display: flex;
    flex-direction: column;
  }
  .footer-container .location-contact .location {
    margin-bottom: 50px;
  }
  .container-contact {
    display: flex;
    flex-direction: column;
  }
  .container-contact .location-contact {
    display: flex;
    flex-direction: column;
    max-width: 550px;
  }
}/*# sourceMappingURL=contact-style.css.map */